.form-container {
      background-color: #ffffff;
      padding: 30px 40px;
      border-radius: 12px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 600px;
    }

    h2 {
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }

    label[for="name"] {
      display: block;
      margin-bottom: 8px;
      color: #555;
      font-weight: 500;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
    }
    select{
       width: 100%;
      padding: 10px 14px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
    }

    /* Sembunyikan input file */
    input[type="file"] {
      display: none;
    }

    /* Tombol upload custom */
    .custom-file-upload {
      display: inline-block;
      padding: 12px 20px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 20px;
    }

    .custom-file-upload:hover {
      background-color: #0056b3;
    }

    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }

    .preview-container {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 20px;
      justify-content: start;
    }

    .preview-container img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      transition: transform 0.2s;
    }

    .preview-container img:hover {
      transform: scale(1.05);
    }
    .custom-file-upload {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 12px 20px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 20px;
      text-decoration: none;
      border: none;
    }

    .mb-1{
      margin-bottom: 10px;
    }